*{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1{
    color: rgb(249, 247, 247);
    height: 5rem;
    line-height: 5rem;
    object-fit: center;
  
    background-color: #081b31;

}
.choice{
    height: 160px;
    width: 160px;
      display: flex;
    border-radius: 50%;
    justify-content: center;
      align-items: center;
 
}
.choice:hover{
    z-index: 2;
     background-color: #081b31;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
     border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 5rem;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
      gap: 5rem;
}
#you-score,#computer-score{
    font-size: 4rem;
  
}
.message-container{
    margin-top: 2rem;
}
#msg{
    background-color: #081b31;
    color: white;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}

